include ../../assets/pug/_head
include ../../assets/pug/_scripts

- title = 'Conozco las regiones naturales'

<!DOCTYPE html>
html(lang="es")
    +head
        style.


    body
        #app
            // START
            scene(v-if="currentScene==0" :key="0" start-scene @completed="sceneCompleted")

            // SCENES
            template(v-for="(i, index) in temps.preguntas")
                scene(v-if="currentScene==(index+1)" :key="index+1" :score="scoreInScene" :temporals="temporals" alloks alloks-sound="../../assets/asound/bienhecho_mujer.mp3" @completed="sceneCompleted" :devmode="$devmode" :answers="1" scene-color="#ED1C25")
                    info(type="seleccionar" title=title text="¡Pon a prueba tus conocimientos sobre las regiones naturales! Selecciona la respuesta correcta." textaudio="s/instruccion1.mp3" :autoplay="index==0?true:false")
                    activity
                        .h4.text-center(v-html="i.p")
                        .row.wrap.around.text-center: clickable(v-for="(p, index) in i.op" :key="'p'+index" :isok="index == i.an" simple-ok initclass="pa-1 w100"): number(randomc smaller) {{p}}


            
            
            // END
            scene(v-if="currentScene==11" :key="2" end-scene :final-data="finalData")
        
        +scripts
            script.

                app.$devmode = false
                app.$set(app.temps, 'preguntas', [
                    {an: 3, p: '¿En qué regiones naturales hay árboles como el palo de rosa, la caoba, el cedro, y plantas trepadoras?', op: ['En las regiones secas.','En las regiones templadas.','En las regiones tropicales.','En las selvas o bosques tropicales y sabanas.']},
                    {an: 3, p: 'El desierto y estepa se consideran regiones naturales de:', op: ['Clima húmedo y lluvioso.','Clima templado con lluvias en verano.','Clima húmedo estepario y desértico.','Clima seco estepario y desértico.']},
                    {an: 3, p: 'En el desierto y la estepa habitan los siguientes animales:', op: ['Mandriles, jirafas, elefantes y jaguares.','Osos, lobos, ciervos  y castores.','Alces, morsas y osos polares.','Serpientes, escorpiones, insectos y roedores.']},
                    {an: 0, p: 'A la selva tropical también se le conoce como:', op: ['Bosque tropical.','Bosque templado.','Bosque de coníferas.','Tundra.']},
                    {an: 1, p: 'En esta región hay líquenes, musgos y hierbas.', op: ['Bosque tropical.','Tundra.','Desierto y estepa.','Pradera.']},
                    {an: 0, p: 'En estas regiones naturales habitan castores, osos, lobos y ciervos.', op: ['Pradera, región mediterránea y bosque templado.','Bosque de coníferas y bosque tropical.','Bosque tropical y sabana.','Tundra y pradera.']},
                    {an: 3, p: 'Esta región natural tiene un clima muy frío y habitan los zorros.', op: ['Bosque tropical.','Bosque templado.','Sabana.','Bosque de coníferas.']},
                    {an: 1, p: 'En las praderas, regiones mediterráneas y bosques templados crecen:', op: ['Pinos, líquenes y musgos.','Encinos, laureles, alcornoques, hierbas y pastos.','Encinos, pinos, hierbas y pastos.','Laureles, alcornoques, musgos y pinos.']},
                    {an: 2, p: 'Las serpientes y escorpiones habitan en:', op: ['El desierto y el bosque.','La estepa y la tundra.','El desierto y la estepa.','Los bosques de coníferas.']},
                    {an: 1, p: '¿Qué región natural tiene un clima templado con lluvias en verano y crecen árboles como el encino?', op: ['El desierto y el bosque.','Pradera, región mediterránea y bosque templado.','La estepa y la tundra.','El desierto y la estepa.']},
                ])

                app.currentScene = 0
                app.scenesCount = 10