include ../../assets/pug/_head
include ../../assets/pug/_scripts

- title = 'Ubico culturas de Europa y Oriente'

<!DOCTYPE html>
html(lang="es")
    +head
        style.
            @media (max-width: 680px) {
                .number.small {
                    font-size: 1.4rem;
                }
                .number.smaller {
                    font-size: 0.7rem;
                }
                .drop .number.smaller {
                    font-size: 0.6rem !important;
                }
            }
            .drop {
                background: #fff;
                width: 90%;
                margin: 0 auto;
                min-height: 30px;
                border-radius: 10px;
                box-shadow: 4px 4px 0 rgba(0, 0, 0, 0.1);
                display: flex;
                flex-direction: column;
                text-align:center;
            }
            .drop .number.smaller {
                font-size: 1rem;
                margin: 10px 0;
            }
            .number.small{
                font-size: 1.5rem;
                margin: 2px;
            }
            .drop.hover {
                box-shadow: 4px 4px 0 rgba(0, 0, 0, 0.1) inset;
            }
            .din p {
                opacity: 0.6;
                margin: 10px 0 2px;
            }
            .drags {
                background: var(--accent);
                border-radius: 10px;
            }
            .drags .drag {
                width: auto;
                height: auto;
                margin: 8px;
            }
            .drop{
                border: 2px solid rgba(0,0,0,0.1);
            }

    body
        #app
            // START
            scene(v-if="currentScene==0" :key="0" start-scene @completed="sceneCompleted")

            // SCENES
            scene(v-if="currentScene==1" :key="1" :score="scoreInScene" :temporals="temporals" alloks alloks-sound="../../assets/asound/bienhecho_mujer.mp3" @completed="sceneCompleted" :devmode="$devmode" :answers="6" scene-color="#ED1C25")
                info(type="dragdrop" title=title text="Coloca el nombre de los eventos que ocurrieron de forma casi simultánea y los siglos a los que corresponden." textaudio="s/instruccion1.mp3" :autoplay="true")
                activity
                    .row.w100.text-center
                        .w30
                        .w40: p Evento
                        .w40: p Siglo

                    .row.w100.din
                        .w30: number(c=1 small) Dinastía Sui
                        .w40: .drop(data="a1" droptimes="untilok")
                        .w40: .drop(data="a2" droptimes="untilok")
                    
                    .row.w100.din.mt-1
                        .w30: number(c=2 small) Dinastía Tang
                        .w40
                            .drop(data="b1" droptimes="multiple" droplimit="1")
                            .drop(data="b1" droptimes="multiple" droplimit="1")
                            .drop(data="b1" droptimes="multiple" droplimit="1")
                        .w40: .drop(data="b2" droptimes="untilok")
                        
                    .row.w100.wrap.drags.mt-1
                        template(v-for="(i, index) in temps.a")
                            drag(:data="i.d" dropzone=".drop" stay-if-ok append-to-dropzone): number(randomc smaller) {{i.t}}
            // SCENES
            scene(v-if="currentScene==2" :key="2" :score="scoreInScene" :temporals="temporals" alloks alloks-sound="../../assets/asound/bienhecho_mujer.mp3" @completed="sceneCompleted" :devmode="$devmode" :answers="5" scene-color="#ED1C25")
                info(type="dragdrop" title=title text="Coloca el nombre de los eventos que ocurrieron de forma casi simultánea y los siglos a los que corresponden." textaudio="s/instruccion1.mp3" :autoplay="false")
                activity
                    .row.w100.text-center
                        .w30
                        .w40: p Evento
                        .w40: p Siglo

                    .row.w100.din
                        .w30: number(c=1 small) Dinastía Song
                        .w40
                            .drop(data="a1" droptimes="multiple" droplimit="1")
                            .drop(data="a1" droptimes="multiple" droplimit="1")
                            .drop(data="a1" droptimes="multiple" droplimit="1")
                            .drop(data="a1" droptimes="multiple" droplimit="1")
                        .w40: .drop(data="a2" droptimes="untilok")
                        
                    .row.w100.wrap.drags.mt-1
                        template(v-for="(i, index) in temps.b")
                            drag(:data="i.d" dropzone=".drop" stay-if-ok append-to-dropzone): number(randomc smaller) {{i.t}}
            // SCENES
            scene(v-if="currentScene==3" :key="3" :score="scoreInScene" :temporals="temporals" alloks alloks-sound="../../assets/asound/bienhecho_mujer.mp3" @completed="sceneCompleted" :devmode="$devmode" :answers="6" scene-color="#ED1C25")
                info(type="dragdrop" title=title text="Coloca el nombre de los eventos que ocurrieron de forma casi simultánea y los siglos a los que corresponden." textaudio="s/instruccion1.mp3" :autoplay="false")
                activity
                    .row.w100.text-center
                        .w30
                        .w40: p Evento
                        .w40: p Siglo

                    .row.w100.din
                        .w30: number(c=1 small) Dinastía Yuang
                        .w40
                            .drop(data="a1" droptimes="multiple" droplimit="1")
                            .drop(data="a1" droptimes="multiple" droplimit="1")
                        .w40: .drop(data="a2" droptimes="untilok")
                    .row.w100.din.mt-1
                        .w30: number(c=2 small) Caída del Imperio romano
                        .w40
                            .drop(data="b1" droptimes="multiple" droplimit="1")
                            .drop(data="b1" droptimes="multiple" droplimit="1")
                        .w40: .drop(data="b2" droptimes="untilok")
                    .row.w100.wrap.drags.mt-1
                        template(v-for="(i, index) in temps.c")
                            drag(:data="i.d" dropzone=".drop" stay-if-ok append-to-dropzone): number(randomc smaller) {{i.t}}

            // END
            scene(v-if="currentScene==4" :key="4" end-scene :final-data="finalData")
        
        +scripts
            script.

                app.$devmode = false
                app.$set(app.temps, 'a', [
                    {d:'b2', t:'Entre los s. VI y VII'},
                    {d:'b1', t:'Periodo Nara'},
                    {d:'b1', t:'Ataques vikingos'},
                    {d:'a2', t:'En el s. VI'},
                    {d:'a1', t:'Nacimiento de Mahoma'},
                    {d:'', t:'Nace Jerusalem'},
                    {d:'', t:'En el s. XI'},
                    {d:'b1', t:'Expansión del islam'},
                ])
                app.$set(app.temps, 'b', [
                    {d:'a1', t:'Jerusalén conquistada por musulmanes'},
                    {d:'a1', t:'Shogunato en Japón'},
                    {d:'', t:'Expasión del islam'},
                    {d:'', t:'Entre los s. VI y IX'},
                    {d:'a1', t:'Cruzadas'},
                    {d:'a1', t:'Saqueo de Constantinopla'},
                    {d:'a2', t:'Entre los s. X y XIX'},
                ])
                app.$set(app.temps, 'c', [
                    {d:'b2', t:'Entre los s. XVI y XVII'},
                    {d:'a1', t:'Shogunato en Japón'},
                    {d:'b1', t:'Dinastía Ming'},
                    {d:'a1', t:'Peste negra'},
                    {d:'a2', t:'Entre los s. XII y XIII'},
                    {d:'', t:'Cruzadas'},
                    {d:'b1', t:'Colón llega a América'},
                    {d:'', t:'Entre los s. XIX y XX'},
                ])
                
                app.currentScene = 0
                app.scenesCount = 3