include ../../assets/pug/_head
include ../../assets/pug/_scripts

- title = 'Soy libre y responsable con mis decisiones'

<!DOCTYPE html>
html(lang="es")
    +head
        style.
            .imageBox{
                background: #fff;
                border-radius: 10px;
                box-shadow: 6px 6px 0 rgba(0,0,0,.1);
                border: 4px solid var(--main);
            }
            .imageBox .drag{
                width: auto; height: auto;
                margin-bottom: 5%;
            }
            .imageBox img{
                margin-bottom:-13%;
                margin-top: 10%;
            }
            .comic .dialog{
                left: auto; top: auto;
                position: relative;
                width: 100%;
                max-width: 80%;
                margin: 0 auto;
            }

    body
        #app
            // START
            scene(v-if="currentScene==0" :key="0" start-scene @completed="sceneCompleted")

            // SCENES
            scene(v-if="currentScene==1" hidescorebox :key="1" :score="scoreInScene" :temporals="temporals" alloks alloks-sound="../../assets/asound/bienhecho_mujer.mp3" @completed="sceneCompleted" :devmode="$devmode" :answers="1" scene-color="#ED1C25")
                activity
                    .row.w100.info: h1=title    
                    audiotext(audio="s/intro.mp3" :autoplay="true" @completed="temps.a=true" text="En la vida hay que tomar decisiones. Lo importante es que nadie te obligue a tomarlas y que te hagas responsables de tus decisiones.")
                    .w30.wm50.mt-1
                        lottie-player(src="i/talk.json" key="l1" background="transparent" speed="1" style="width: 100%; height: 100%;" loop autoplay v-if="!temps.a")
                        lottie-player(src="i/talk.json" key="l2" background="transparent" speed="1" style="width: 100%; height: 100%;" v-else)
                    .row.w100(v-if="temps.a"): button(@click="sceneCompleted(false)").button.big Siguiente
            
            // SCENES
            scene(v-for="(i, index) in temps.scenes" v-if="currentScene==index+2" :key="index+2" :score="scoreInScene" :temporals="temporals" alloks alloks-sound="../../assets/asound/bienhecho_mujer.mp3" @completed="sceneCompleted" :devmode="$devmode" :answers="1" scene-color="#ED1C25")
                info(type="relacionar" title=title text="Une las imágenes que representan una necesidad o un deseo." textaudio="s/instruccion1.mp3" :autoplay="index==0?true:false")
                activity
                    .row.w100
                        .w30.wm50.text-center.imageBox
                            img(:src="i.image").w100
                            drag(:data="i.answer" dropzone=".drop" stay-if-ok drag-line particle-color="#59B96E"): .conector.c1
                    .row.w100.mt-auto
                        .w20.wm30.drop(data="necesidad" droptimes="untilok" oksound="s/necesito.mp3")
                            img(src="i/girl.png").w100
            
                        .w20.wm30.ml-1.drop(data="deseo" droptimes="untilok" oksound="s/deseo.mp3")
                            img(src="i/boy.png").w100
            

            // SCENES
            scene(v-if="currentScene==8" hidescorebox :key="8" :score="scoreInScene" :temporals="temporals" alloks alloks-sound="../../assets/asound/bienhecho_mujer.mp3" @completed="sceneCompleted" :devmode="$devmode" :answers="1" scene-color="#ED1C25")
                activity
                    .row.w100.info: h1=title    
                    audiotext(audio="s/intro2.mp3" :autoplay="true" @completed="temps.b=true" text="No es nada fácil tomar decisiones sobre lo que necesitamos y lo que deseamos. ¡Qué hubieras hecho tú, si fueras Alberto?")
                    .w30.wm50.mt-1
                        lottie-player(src="i/talk.json" key="l1" background="transparent" speed="1" style="width: 100%; height: 100%;" loop autoplay v-if="!temps.b")
                        lottie-player(src="i/talk.json" key="l2" background="transparent" speed="1" style="width: 100%; height: 100%;" v-else)
                    .row.w100(v-if="temps.b"): button(@click="sceneCompleted(false)").button.big Siguiente
            
            // SCENES
            scene(v-if="currentScene==9" hidescorebox :key="9" :score="scoreInScene" :temporals="temporals" alloks alloks-sound="../../assets/asound/bienhecho_mujer.mp3" @completed="sceneCompleted" :devmode="$devmode" :answers="1" scene-color="#ED1C25")
                info(type="seleccionar" title=title text="Lee y escucha el siguiente texto y contesta las preguntas." textaudio="s/instruccion2.mp3" :autoplay="true" @completedinstructions="temps.c=true")
                activity
                    .comic(v-if="temps.c").w100
                        .dialog.tip-b: audiotext(@completed="temps.d = true" :autoplay="true" audio="s/audio3.mp3" text="Alberto tiene un pantalón que está bastante desgastado y su abuelito le dio dinero para que se comprara uno nuevo. Al llegar a la tienda departamental, Alberto se dio cuenta de que el nuevo juego que salió hace nueve meses, y todos sus amigos tienen, cuesta lo mismo que el pantalón. Ahora está muy indeciso de qué compra debería de realizar.")
                    .w20.wm40
                        lottie-player(src="i/btalk.json" key="l1" background="transparent" speed="1" style="width: 100%; height: 100%;" loop autoplay v-if="temps.c && !temps.d")
                        lottie-player(src="i/btalk.json" key="l2" background="transparent" speed="1" style="width: 100%; height: 100%;" v-else)
                    .row.w100(v-if="temps.d"): button(@click="sceneCompleted(false)").button.big Siguiente

            
            // SCENES
            scene(v-if="currentScene==10" :key="10" :score="scoreInScene" :temporals="temporals" alloks alloks-sound="../../assets/asound/bienhecho_mujer.mp3" @completed="sceneCompleted" :devmode="$devmode" :answers="1" scene-color="#ED1C25")
                info(type="seleccionar" title=title text="Ahora contesta las preguntas." textaudio="s/instruccion3.mp3" :autoplay="true" @completedinstructions="temps.pregunta1 = true")
                activity
                    .row.w100.text-center(v-if="temps.pregunta1")
                        audiotext(:autoplay="true" audio="s/audio4.mp3" text="¿Qué artículo debería comprar Alberto?")
                    
                    .row.w100.wrap(v-if="temps.pregunta1").text-center
                        .w40.mt-1: clickable(:isok="true" simple-ok initclass="pa-1"): number(randomc smaller) El pantalón.
                        .w40.mt-1: clickable(:isok="false" simple-ok initclass="pa-1"): number(randomc smaller) El videouego.
                        .w40.mt-1: clickable(:isok="false" simple-ok initclass="pa-1"): number(randomc smaller) Los dos.
                        .w40.mt-1: clickable(:isok="false" simple-ok initclass="pa-1"): number(randomc smaller) Ninguno de los dos.
            
            // SCENES
            scene(v-if="currentScene==11" :key="11" :score="scoreInScene" :temporals="temporals" alloks alloks-sound="s/cierre.mp3" @completed="sceneCompleted" :devmode="$devmode" :answers="1" scene-color="#ED1C25")
                info(type="seleccionar" title=title text="Ahora contesta las preguntas." textaudio="s/instruccion3.mp3" :autoplay="false")
                activity
                    .row.w100.text-center
                        audiotext(:autoplay="true" audio="s/audio5.mp3" text="¿Por qué?")
                    
                    .row.w100.wrap.text-center
                        .w40.mt-1: clickable(:isok="true" simple-ok initclass="pa-1"): number(randomc smaller) Porque el pantalón es un artículo que necesitará más.
                        .w40.mt-1: clickable(:isok="false" simple-ok initclass="pa-1"): number(randomc smaller) Porque el videojuego es algo que ha deseado por nueve meses.
                        .w40.mt-1: clickable(:isok="false" simple-ok initclass="pa-1"): number(randomc smaller) Porque si compra los dos, tiene algo que necesita y algo que desea.
                        .w40.mt-1: clickable(:isok="false" simple-ok initclass="pa-1"): number(randomc smaller) Porque es una decisión muy difícil de tomar.



            // END
            scene(v-if="currentScene==12" :key="12" end-scene :final-data="finalData")
        
        +scripts
            script.

                app.$devmode = false
                app.$set(app.temps, 'a', false)
                app.$set(app.temps, 'b', false)
                app.$set(app.temps, 'c', false)
                app.$set(app.temps, 'd', false)
                
                app.$set(app.temps, 'pregunta1', false)
                app.$set(app.temps, 'pregunta2', false)
                
                app.$set(app.temps, 'scenes', [
                    {image: 'i/bike.png', answer: 'necesidad'},
                    {image: 'i/shirt.png', answer: 'necesidad'},
                    {image: 'i/phone.png', answer: 'deseo'},
                    {image: 'i/bag.png', answer: 'necesidad'},
                    {image: 'i/shoe.png', answer: 'deseo'},
                    {image: 'i/food.png', answer: 'necesidad'},
                ])
                


                app.currentScene = 0
                app.scenesCount = 8