include ../../assets/pug/_head
include ../../assets/pug/_scripts

- title = 'Mi planeta azul'

<!DOCTYPE html>
html(lang="es")
    +head
        style.
            .map {
                border: 2px solid #517E8C;
                border-radius: 10px;
                overflow: hidden;
                box-shadow: 4px 4px 0 #517E8C;
                margin: 10px;
                line-height: 0;
                position: relative;
            }
            .map img {
                margin: 0;
            }
            .drops {
                width: 100%;
                height: 100%;
                position: absolute;
                top: 0;
                left: 0;
            }
            .drops .drop {
                position: absolute;
                background: #517E8C;
                width: 20%;
                height: 50px;
                border-radius: 6px;
            }
            .drops .drop.hover {
                background: #F4C8D5;
            }
            .ex1 .drop:nth-child(1) {
                left: 3%;
                top: 56%;
            }
            .ex1 .drop:nth-child(2) {
                left: 40%;
                top: 12%;
            }
            .ex1 .drop:nth-child(3) {
                left: 42%;
                top: 63%;
            }
            .ex1 .drop:nth-child(4) {
                left: 72%;
                top: 22%;
            }
            .ex1 {
                gap: 6px;
            }
            .ex1 .drag {
                font-size: 0.9rem;
                padding: 4px;
                height: auto;
                width: 20%;
                text-align: center;
                background: #f5f5f5;
                border-radius: 4px;
                box-shadow: 4px 4px 0 rgba(0, 0, 0, 0.1);
            }
            .ex1 .drag:nth-child(1) {
                background: #75B2D6;
            }
            .ex1 .drag:nth-child(2) {
                background: #F4BC84;
            }
            .ex1 .drag:nth-child(3) {
                background: #FDE091;
            }
            .ex1 .drag:nth-child(4) {
                background: #B3D595;
            }
            .ex2 {
                gap: 6px;
            }
            .ex2 .drop:nth-child(1) {
                left: 66%;
                top: 64%;
            }
            .ex2 .drop:nth-child(2) {
                left: 36%;
                top: 84%;
            }
            .ex2 .drop:nth-child(3) {
                left: 39%;
                top: 4%;
            }
            .ex2 .drop:nth-child(4) {
                left: 1%;
                top: 70%;
            }
            .ex2 .drop:nth-child(5) {
                left: 21%;
                top: 39%;
            }
            .ex2 .drag {
                font-size: 0.9rem;
                padding: 4px;
                height: auto;
                width: 20%;
                text-align: center;
                background: #f5f5f5;
                border-radius: 4px;
                box-shadow: 4px 4px 0 rgba(0, 0, 0, 0.1);
            }
            .ex2 .drag:nth-child(1) {
                background: #56B9F6;
            }
            .ex2 .drag:nth-child(2) {
                background: #88CCF7;
            }
            .ex2 .drag:nth-child(3) {
                background: #BADFF6;
            }
            .ex2 .drag:nth-child(4) {
                background: #D3E8F7;
            }
            .ex2 .drag:nth-child(5) {
                background: #E1F7F7;
            }
            .drop[droppedtimes="1"]{
                background: var(--main);
            }




    body
        #app
            // START
            scene(v-if="currentScene==0" :key="0" start-scene @completed="sceneCompleted")

            // SCENES
            scene(v-if="currentScene==1" :key="1" :score="scoreInScene" :temporals="temporals" alloks alloks-sound="../../assets/asound/bienhecho_mujer.mp3" @completed="sceneCompleted" :devmode="$devmode" :answers="1" scene-color="#ED1C25")
                info(type="dragdrop" title=title text="¿En qué continente se encuentran estos ríos? Coloca el recuadro que corresponda en cada casilla del mapa." textaudio="s/instruccion1.mp3" :autoplay="true" @completedinstructions="")
                activity
                    .row.w100
                        .map.w100
                            img(src="i/m1.png" v-if="!temps.colormap").w100
                            img(src="i/m2.png" v-else-if="temps.colormap").w100
                            .drops.ex1
                                .drop(droptimes="multiple" droplimit="1" data="america")
                                .drop(droptimes="multiple" droplimit="1" data="europa")
                                .drop(droptimes="multiple" droplimit="1" data="africa")
                                .drop(droptimes="multiple" droplimit="1" data="asia")
                    .row.w100.wrap.around.drags.ex1
                        drag(data="america" dropzone=".drop" ref="am" @isok="temps.map.america=1" @dragstarted="temps.map.america=0"  no-return-on-drop no-animations no-ok-sound no-error-sound disableok undroppable): div Ríos Missouri y Amazonas
                        drag(data="europa" dropzone=".drop" ref="eu" @isok="temps.map.europa=1" @dragstarted="temps.map.europa=0" no-return-on-drop no-animations no-ok-sound no-error-sound disableok undroppable): div Río Danubio
                        drag(data="africa" dropzone=".drop" ref="af" @isok="temps.map.africa=1" @dragstarted="temps.map.africa=0" no-return-on-drop no-animations no-ok-sound no-error-sound disableok undroppable): div Ríos Nilo y Congo
                        drag(data="asia" dropzone=".drop" ref="as" @isok="temps.map.asia=1" @dragstarted="temps.map.asia=0" no-return-on-drop no-animations no-ok-sound no-error-sound disableok undroppable): div Río Huang He
                    .row.w100: button(@click="verificar").button.big Verificar
            
            // SCENES
            scene(v-if="currentScene==2" :key="2" :score="scoreInScene" :temporals="temporals" alloks alloks-sound="../../assets/asound/bienhecho_mujer.mp3" @completed="sceneCompleted" :devmode="$devmode" :answers="1" scene-color="#ED1C25")
                info(type="dragdrop" title=title text="¿Cuál es el nombre de los océanos? Coloca la respuesta en cada casilla del mapa." textaudio="s/instruccion2.mp3" :autoplay="true" @completedinstructions="")
                activity
                    .row.w100
                        .map.w100
                            img(src="i/m2.png" v-if="!temps.finalmap").w100
                            img(src="i/m3.png" v-else-if="temps.finalmap").w100
                            .drops.ex2
                                .drop(droptimes="multiple" droplimit="1" data="ind")
                                .drop(droptimes="multiple" droplimit="1" data="ant")
                                .drop(droptimes="multiple" droplimit="1" data="art")
                                .drop(droptimes="multiple" droplimit="1" data="pac")
                                .drop(droptimes="multiple" droplimit="1" data="atl")
                    .row.w100.wrap.around.drags.ex2
                        drag(data="ind" dropzone=".drop" ref="ind" @isok="temps.secmap.ind=1" @dragstarted="temps.secmap.ind=0" no-return-on-drop no-animations no-ok-sound no-error-sound disableok undroppable): div Océano Índico
                        drag(data="ant" dropzone=".drop" ref="ant" @isok="temps.secmap.ant=1" @dragstarted="temps.secmap.ant=0" no-return-on-drop no-animations no-ok-sound no-error-sound disableok undroppable): div Océano Antártico
                        drag(data="art" dropzone=".drop" ref="art" @isok="temps.secmap.art=1" @dragstarted="temps.secmap.art=0" no-return-on-drop no-animations no-ok-sound no-error-sound disableok undroppable): div Océano Ártico
                        drag(data="pac" dropzone=".drop" ref="pac" @isok="temps.secmap.pac=1" @dragstarted="temps.secmap.pac=0" no-return-on-drop no-animations no-ok-sound no-error-sound disableok undroppable): div Océano Pacífico
                        drag(data="atl" dropzone=".drop" ref="atl" @isok="temps.secmap.atl=1" @dragstarted="temps.secmap.atl=0" no-return-on-drop no-animations no-ok-sound no-error-sound disableok undroppable): div Océano Atlántico
                    .row.w100: button(@click="verificar2").button.big Verificar
                    
            // END
            scene(v-if="currentScene==3" :key="3" end-scene :final-data="finalData")
        
        +scripts
            script.
                
                app.$devmode = false
                app.$set(app.temps, 'map', {america:0, europa:0, africa: 0, asia: 0})
                app.$set(app.temps, 'colormap', false)
                app.$set(app.temps, 'secmap', {ind:0, ant:0, art: 0, pac: 0, atl: 0})
                app.$set(app.temps, 'finalmap', false)

                app.verificar = function () {
                    const map = app.temps.map
                    if(map.america && map.europa && map.africa && map.asia){
                        app.temps.colormap = true
                        setTimeout(function () {
                            EventBus.$emit('isok')
                        }, 1000)
                    } else {
                        //app.$set(app.temps, 'map', {america:0, europa:0, africa: 0, asia: 0})
                        s_error.play()
                        if(!map.america){
                            app.$refs.am.undroppableFn()
                            app.$refs.am.backToInitPos()
                        }
                        if(!map.europa){
                            app.$refs.eu.undroppableFn()
                            app.$refs.eu.backToInitPos()
                            }
                        if(!map.africa){
                            app.$refs.af.undroppableFn()
                            app.$refs.af.backToInitPos()
                            }
                        if(!map.asia){
                            app.$refs.as.undroppableFn()
                            app.$refs.as.backToInitPos()
                            }
                    }
                }
                app.verificar2 = function () {
                    const map = app.temps.secmap
                    if(map.ind && map.ant && map.art && map.pac && map.atl){
                        app.temps.finalmap = true
                        setTimeout(function () {
                            EventBus.$emit('isok')
                        }, 1000)
                    } else {
                        //app.$set(app.temps, 'secmap', {ind:0, ant:0, art: 0, pac: 0, atl: 0})
                        s_error.play()
                        if(!map.ind){
                            app.$refs.ind.undroppableFn()
                            app.$refs.ind.backToInitPos()
                            }
                        if(!map.ant){
                            app.$refs.ant.undroppableFn()
                            app.$refs.ant.backToInitPos()
                            }
                        if(!map.art){
                            app.$refs.art.undroppableFn()
                            app.$refs.art.backToInitPos()
                            }
                        if(!map.pac){
                            app.$refs.pac.undroppableFn()
                            app.$refs.pac.backToInitPos()
                            }
                        if(!map.atl){
                            app.$refs.atl.undroppableFn()
                            app.$refs.atl.backToInitPos()
                            }
                    }
                }
                
                app.currentScene = 0
                app.scenesCount = 2