include ../../assets/pug/_head
include ../../assets/pug/_scripts

- title = 'Descifro el sistema maya'

<!DOCTYPE html>
html(lang="es")
    +head
        style.


    body
        #app
            // START
            scene(v-if="currentScene==0" :key="0" start-scene @completed="sceneCompleted")

            // SCENES
            scene(v-if="currentScene==1" :key="1" :score="scoreInScene" :temporals="temporals" alloks alloks-sound="../../assets/asound/bienhecho_mujer.mp3" @completed="sceneCompleted" :devmode="$devmode" :answers="1" scene-color="#ED1C25")
                info(type="seleccionar" title=title text="" textaudio="s/instruccion1.mp3" :autoplay="false")
                activity
                    .row.w100
                        audiotext(:autoplay="true" audio="s/intro1.mp3" text="Recuerda que el sistema de numeración maya es vigesimal, esto significa que los números se van agrupando de 20 en 20. El sistema maya utiliza 3 símbolos para representar el valor de las cantidades.")

                        audiotext(:autoplay="true" audio="s/intro2.mp3" text="Los símbolos se escriben de abajo hacia arriba usando 4 niveles, su valor depende del nivel en el que se encuentren: <br>Si están en el primero, hay que multiplicar por 1 <br>Si están en el segundo, por 20 <br>Si están en el tercero, por 400 <br>Si está en el cuarto nivel, por 8000. <br>A partir de números de 2 niveles se deben sumar los resultados de las multiplicaciones para obtener el número del que se trata.")

            
            
            // END
            scene(v-if="currentScene==2" :key="2" end-scene :final-data="finalData")
        
        +scripts
            script.

                app.$devmode = false
                app.$set(app.temps, 'a', [])
                
                app.currentScene = 1
                app.scenesCount = 1