include ../../assets/pug/_head
include ../../assets/pug/_scripts

- title = ''

<!DOCTYPE html>
html(lang="es")
    +head
        style.


    body
        #app
            // START
            scene(v-if="currentScene==0" :key="0" start-scene @completed="sceneCompleted")

            // SCENES
            scene(v-if="currentScene==1" :key="1" :score="scoreInScene" :temporals="temporals" alloks alloks-sound="../../assets/asound/bienhecho_mujer.mp3" @completed="sceneCompleted" :devmode="$devmode" :answers="9" scene-color="#ED1C25")
                info(type="seleccionar" title=title text="Separa las monedas en decenas y unidades colocándolas en los espacios correspondientes. Después, escribe cuántas unidades y decenas hay en cada monto y cuál es la suma total." textaudio="s/instruccion1.mp3" :autoplay="true")
                activity
                    .row.w100
                        .w40: .row.wrap
                            drag(v-for="(i, index) in 4" :data="u" dropzone=".drop" stay-if-ok append-to-dropzone).w20: img(src="i/10.png").w100
                            drag(v-for="(i, index) in 2" :data="d" dropzone=".drop" stay-if-ok append-to-dropzone).w10: img(src="i/1.png").w100
                        .w20.box
                            number(c=1 smaller) Unidades
                            .drop(data="u" droptimes="multiple" droplimit="10")
                            inputable(initclass="c1" :isok="3"): number(c=1 small) 3
                        .w20.box
                            number(c=2 smaller) Unidades
                            .drop(data="u" droptimes="multiple" droplimit="10")
                            inputable(initclass="c2" :isok="3"): number(c=2 small) 3
                        .w20.box
                            number(c=3 smaller) Total
                            inputable(initclass="c3" :isok="33"): number(c=3 small) 33
            // END
            scene(v-if="currentScene==2" :key="2" end-scene :final-data="finalData")
        
        +scripts
            script.

                app.$devmode = false
                app.$set(app.temps, 'a', [])
                
                app.currentScene = 1
                app.scenesCount = 1