include ../../assets/pug/_head
include ../../assets/pug/_scripts

- title = 'Protejo los recursos naturales'

<!DOCTYPE html>
html(lang="es")
    +head
        style.
            .h3{
                background: var(--main);
                color: #fff !important;
                padding: 10px;
                border-radius: 10px;
                margin-bottom: 20px;
            }

    body
        #app
            // START
            scene(v-if="currentScene==0" :key="0" start-scene @completed="sceneCompleted")

            // SCENES
            scene(v-if="currentScene==1" hidescorebox :key="1" :score="scoreInScene" :temporals="temporals" alloks alloks-sound="../../assets/asound/bienhecho_mujer.mp3" @completed="sceneCompleted" :devmode="$devmode" :answers="1" scene-color="#ED1C25")
                info(type="seleccionar" title=title text="Vamos a leer una historieta para aprender sobre los recursos naturales. ¡Pon atención!" textaudio="s/instruccion1.mp3" :autoplay="true" @completedinstructions="$refs.v1.play()")
                activity
                    .row.w100: videoplayer(initclass="w100" :autoplay="false" c="6" path="i/v1" @completed="temps.a = true" ref="v1")
                    .row.w100(v-if="temps.a"): button(@click="sceneCompleted(false)").button.big Siguiente

            // SCENES Ps
            scene(v-if="currentScene==2" :key="2" :score="scoreInScene" :temporals="temporals" alloks alloks-sound="../../assets/asound/bienhecho_mujer.mp3" @completed="sceneCompleted" :devmode="$devmode" :answers="4" scene-color="#ED1C25")
                info(type="seleccionar" title=title text="¡Vamos a probar cuánto aprendiste! Selecciona las respuestas correctas." textaudio="s/instruccion2.mp3" :autoplay="true" )
                activity
                    sequence(:options="temps.preguntas" ref="seque" no-nav)
                        template(v-slot:option="{option}")
                            .h3.text-center {{option.p}}
                            .row.w100(v-if="option.img"): .w30.text-center: img(:src="option.img").w100
                            .row.wrap.around.text-center: clickable(v-for="(i, index) in option.ops" :key="'p1'+index" :isok="option.any? true : (index == option.ans)" simple-ok @wasclicked="$refs.seque.adelante()" initclass="pa-1 w100" ): number(randomc smaller): div(v-html="i")
            
            
            
            // END
            scene(v-if="currentScene==3" :key="3" end-scene :final-data="finalData")
        
        +scripts
            script.

                app.$devmode = false
                app.$set(app.temps, 'v1', false)
                app.$set(app.temps, 'a', false)
                app.$set(app.temps, 'b', false)

                app.$set(app.temps, 'preguntas', [
                    {p: '¿Por qué es importante racionar los recursos naturales?', ops: ['Porque son muy caros.','Porque son muy dificíles de obtener.','Porque su extracción afecta a otras especies del planeta.'], ans: 2 , img: false},
                    {p: '¿Cómo harías para cuidar los recursos naturales?', ops: ['Reutilizaría los productos y los recolectaría para que sean reciclados.','Prohibiría su venta.','Haría campañas publicitarias para explicar para qué sirven.'], ans: 0 , img: false, any:true},
                    {p: '¿Cómo se puede obtener la energía de los recursos naturales?', ops: ['A través del agua y el fuego.','Con el viento ya que se pueden construir aerogeneradores.','No se puede obtener energía de los recursos naturales.'], ans: 1 , img: false},
                    {p: '¿Qué tipo de productos se pueden fabricar con la madera?', ops: ['Sillas, mesas, colchones, lápices.','Cabañas, sillas, mochilas, bolsas.','Sillas, mesas, cabañas, puertas.'], ans: 2 , img: false},
                ])
                
                app.currentScene = 0
                app.scenesCount = 1