include ../../assets/pug/_head
include ../../assets/pug/_scripts

- title = 'Utilizo adverbios y adjetivos'

<!DOCTYPE html>
html(lang="es")
    +head
        style.
            .h3 {
                color: #69747C;
                font-weight: bold;
            }
            .h4 {
                font-size: 0.8rem;
                color: #69747C;
            }
            .h4.aut {
                margin: 8px 0;
                color: #69747C;
            }
            .textzone {
                background: #C5DAE9;
                padding: 10px;
                box-sizing: border-box;
                border-radius: 10px;
                line-height: 1.6;
            }
            @media (max-width: 768px) {
                .textzone p {
                    font-size: 0.6rem;
                    line-height: 1.4;
                }
            }
            .drag {
                width: 30px;
                height: 30px;
                margin: 0 auto;
            }
            .drag img {
                min-width: 20px;
            }
            .isok {
                border-radius: 2px;
                box-shadow: 2px 2px 0 rgba(0, 0, 0, 0.05);
            }
            .isok[data="v"] {
                background: #ABBD46;
            }
            .isok[data="n"] {
                background: #F5924B;
            }
            .isok[data="m"] {
                background: #AA7AFF;
            }
            .draggs .w30 {
                padding: 2px 0;
                border-radius: 6px;
                background: #ffffff;
                margin: 1%;
            }
            .draggs .w30 .counter {
                padding: 10px;
                box-sizing: border-box;
                border-radius: 6px;
                margin-left: 10px;
                font-weight: bold;
            }
            .draggs .w30 .counter.cv {
                background: #ADBF4B;
            }
            .draggs .w30 .counter.cn {
                background: #F5924B;
            }
            .draggs .w30 .counter.cm {
                background: #AA7AFF;
            }
            .ex2 {
                align-items: unset;
            }
            .ex2 .w30 {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
            }
            .ex2 .drop {
                background: #fff;
                min-height: 100px;
                border-radius: 6px;
                margin-top: 8px;
                text-align: center;
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                margin: 1%;
            }
            .ex2 div.txt {
                display: flex;
                align-items: center;
                padding: 8px;
                background: rgba(255, 255, 255, 0.3);
                margin-bottom: 4px;
                border-radius: 8px;
                flex-wrap: wrap;
            }
            .ex2 .drag {
                width: auto;
                height: auto;
                margin: 0;
                font-weight: bold;
                background: #ffdd00;
                padding: 1px 4px;
                border-radius: 6px;
            }
            .ex2 .drag:first-child {
                margin-left: 0;
            }
            @media (max-width: 680px) {
                .ex2 div.txt{
                    font-size: 0.8rem;
                    padding: 2px;
                    margin-bottom: 2px;
                }
                .ex2 .drop{
                    min-height: 60px;
                    font-size: 0.8rem;
                }
                .ex2 .drag{
                    padding: 1px 2px;
                }
                .ex2 .number.smaller {
                    font-size: 0.7rem;
                }
            }




    body
        #app
            // START
            scene(v-if="currentScene==0" :key="0" start-scene @completed="sceneCompleted")

            // SCENES
            scene(v-if="currentScene==1" :key="1" :score="scoreInScene" :temporals="temporals" alloks alloks-sound="../../assets/asound/bienhecho_mujer.mp3" @completed="sceneCompleted" :devmode="$devmode" :answers="33" scene-color="#ED1C25")
                info(type="dragdrop" title=title text="Coloca el crayón de color verde sobre los adjetivos, el de color naranja sobre los adverbios y el de color morado sobre las frases preposicionales." textaudio="s/instruccion1.mp3" :autoplay="true")
                activity
                    .row.w100
                        .text-center
                            .h3 Platero y yo
                            .h4 (Fragmento)
                    .row.w90.textzone
                        div
                            p Platero es #[span.drop(data="v" droptimes="untilok") pequeño], #[span.drop(data="v" droptimes="untilok") peludo], #[span.drop(data="v" droptimes="untilok") suave]; tan #[span.drop(data="v" droptimes="untilok") blando] por fuera, que se diría todo #[span.drop(data="m" droptimes="untilok") de algodón], que no lleva huesos. #[span.drop(data="n" droptimes="untilok") Sólo] los espejos #[span.drop(data="m" droptimes="untilok") de azabache] de sus ojos son #[span.drop(data="v" droptimes="untilok") duros] cual dos escarabajos #[span.drop(data="m" droptimes="untilok") de cristal] #[span.drop(data="v" droptimes="untilok") negro].
                            p Lo dejo suelto y se va al prado, y acaricia #[span.drop(data="n" droptimes="untilok") tibiamente] con su hocico, rozándolas #[span.drop(data="n" droptimes="untilok") apenas], las florecillas #[span.drop(data="v" droptimes="untilok") rosas], y #[span.drop(data="v" droptimes="untilok") gualdas] ... Lo llamo #[span.drop(data="n" droptimes="untilok") dulcemente]: "¿Platero?", y viene a mí con un trotecillo #[span.drop(data="v" droptimes="untilok") alegre] que parece que se ríe, en no sé qué cascabeleo #[span.drop(data="v" droptimes="untilok") ideal] ...
                            p Come #[span.drop(data="v" droptimes="untilok") cuanto] le doy. Le gustan las naranjas mandarinas, las uvas moscateles, todas #[span.drop(data="m" droptimes="untilok") de ámbar]; los higos #[span.drop(data="v" droptimes="untilok") morados], con su #[span.drop(data="v" droptimes="untilok") cristalina] gotita #[span.drop(data="m" droptimes="untilok") de miel]...
                            p Es #[span.drop(data="v" droptimes="untilok") tierno] y #[span.drop(data="v" droptimes="untilok") mimoso] igual que un niño, que una niña...; pero #[span.drop(data="v" droptimes="untilok") fuerte] y #[span.drop(data="v" droptimes="untilok") seco] por dentro, como #[span.drop(data="m" droptimes="untilok") de piedra] ... Cuando paseo sobre él, los domingos, por las #[span.drop(data="v" droptimes="untilok") últimas] callejas #[span.drop(data="m" droptimes="untilok") del pueblo], los hombres #[span.drop(data="m" droptimes="untilok") del campo], vestidos #[span.drop(data="m" droptimes="untilok") de limpio] y #[span.drop(data="v" droptimes="untilok") despaciosos], se quedan mirándolo:
                            p — Tiene acero...
                            p Tiene acero. Acero y plata #[span.drop(data="m" droptimes="untilok") de luna], al mismo tiempo.
                    .row.w100: .text-center: .h4.aut Juan Ramón Jiménez

                    .row.w100.draggs.text-center.wrap
                        .w30.wm100.row
                            .w30: tooltiper() Adjetivo: otorga cualidades a un sustantivo.
                            .w30: drag(data="v" dropzone=".drop" return-to-position dropzone-ok-class="isok" @isok="temps.cv = $event.dragoks"): img(src="i/lv.png").w100
                            .w30.counter.cv {{19 - temps.cv}}
                        .w30.wm100.row
                            .w30: tooltiper() Adverbio: palabras que complementan al verbo o a otro adjetivo.
                            .w30: drag(data="n" dropzone=".drop" return-to-position dropzone-ok-class="isok" @isok="temps.cn = $event.dragoks"): img(src="i/ln.png").w100
                            .w30.counter.cn {{4 - temps.cn}}
                        .w30.wm100.row
                            .w30: tooltiper() Frases preposicionales: se componen de una preposición y un sustantivo.
                            .w30: drag(data="m" dropzone=".drop" return-to-position dropzone-ok-class="isok" @isok="temps.cm = $event.dragoks"): img(src="i/lm.png").w100
                            .w30.counter.cm {{10-temps.cm}}
            
            
            
            // SCENES
            scene(v-if="currentScene==2" :key="2" :score="scoreInScene" :temporals="temporals" alloks alloks-sound="../../assets/asound/bienhecho_mujer.mp3" @completed="sceneCompleted" :devmode="$devmode" :answers="16" scene-color="#ED1C25")
                info(type="dragdrop" title=title text="Ahora, coloca las palabras resaltadas en la caja correspondiente según el tipo de palabra de la que se trate." textaudio="s/instruccion2.mp3" :autoplay="true")
                activity
                    .row.w100.ex2
                        .w100
                            div.txt 
                                drag(data="b" dropzone=".drop" stay-if-ok append-to-dropzone): div Ayer
                                | , comí una 
                                drag(data="a" dropzone=".drop" stay-if-ok append-to-dropzone): div deliciosa
                                | empañada
                                drag(data="c" dropzone=".drop" stay-if-ok append-to-dropzone): div de piña.  
                            div.txt El competidor 
                                drag(data="a" dropzone=".drop" stay-if-ok append-to-dropzone): div alto
                                | corrió 
                                drag(data="b" dropzone=".drop" stay-if-ok append-to-dropzone): div muy
                                drag(data="b" dropzone=".drop" stay-if-ok append-to-dropzone): div rápidamente
                                | .
                            div.txt Rocío sacó los libros 
                                drag(data="a" dropzone=".drop" stay-if-ok append-to-dropzone): div viejos
                                | y los colocó 
                                drag(data="b" dropzone=".drop" stay-if-ok append-to-dropzone): div cuidadosamente
                                drag(data="b" dropzone=".drop" stay-if-ok append-to-dropzone): div encima
                                | de la mesa.
                            div.txt La guitarra 
                                drag(data="c" dropzone=".drop" stay-if-ok append-to-dropzone): div de madera
                                | y el piano 
                                drag(data="a" dropzone=".drop" stay-if-ok append-to-dropzone): div grande
                                | son de mi hermano 
                                drag(data="a" dropzone=".drop" stay-if-ok append-to-dropzone): div mayor
                                | .
                            div.txt En la 
                                drag(data="a" dropzone=".drop" stay-if-ok append-to-dropzone): div gran
                                | fiesta 
                                drag(data="c" dropzone=".drop" stay-if-ok append-to-dropzone): div del pueblo
                                | , bailamos 
                                drag(data="b" dropzone=".drop" stay-if-ok append-to-dropzone): div alegremente 
                                drag(data="b" dropzone=".drop" stay-if-ok append-to-dropzone): div enfrente 
                                | de la banda. 
                    .row.w100.ex2.mt-1.wrap
                        .w30.wm100.text-center
                            number(c=1 smaller) Adjetivos
                            .drop(data="a" droptimes="multiple")
                        .w30.wm100.text-center
                            number(c=2 smaller) Adverbios
                            .drop(data="b" droptimes="multiple")
                        .w30.wm100.text-center
                            number(c=3 smaller) Frases preposicionales
                            .drop(data="c" droptimes="multiple")

            


            // END
            scene(v-if="currentScene==3" :key="3" end-scene :final-data="finalData")
        
        +scripts
            script.

                app.$devmode = false
                app.$set(app.temps, 'cv', 0)
                app.$set(app.temps, 'cn', 0)
                app.$set(app.temps, 'cm', 0)

                
                
                app.currentScene = 0
                app.scenesCount = 2