include ../../assets/pug/_head
include ../../assets/pug/_scripts

- title = 'Resuelvo conflictos adecuadamente'

<!DOCTYPE html>
html(lang="es")
    +head
        style.
            .activity {
                position: relative;
            }
            .presenterDialog {
                position: absolute;
                width: 35%;
                left: 1%;
                top: 1%;
            }
            .presenterDialog img {
                max-width: 100%;
            }
            .presenterDialog .dialogaudio {
                position: relative;
            }
            .presenterDialog .dialogaudio .audiotextBtn {
                max-width: 30px;
                margin-left: auto;
                margin-bottom: -20px;
            }
            .drag{
                margin: 0;
                padding: auto;
                width: auto;
                height: auto;
                max-width: 200px;
            }
            .relativeImg {
                position: relative;
            }
            .guestDialog {
                position: absolute;
                top: 5%;
                right: 1%;
                width: 35%;
                height: 90%;
            }
            .guestDialog .drop {
                width: 96%;
                height: 100%;
                background: rgba(255, 255, 255, 0.4);
                border-radius: 8%;
                border: 2px dashed var(--accent);
            }
            .drop{
                display: flex;
                flex-direction: column;
            }
            .indragarea img{
                filter: grayscale(100%);
            }



    body
        #app
            // START
            scene(v-if="currentScene==0" :key="0" start-scene @completed="sceneCompleted")

            // SCENES
            scene(v-if="currentScene==1" :key="1" :score="scoreInScene" :temporals="temporals" alloks alloks-sound="s/instruccion2.mp3" @completed="sceneCompleted" :devmode="$devmode" :answers="4" scene-color="#ED1C25")
                info(type="dragdrop" title=title text="Escucha y arrastra los diálogós para completar la conversación." textaudio="s/instruccion1.mp3" :autoplay="true" @completedinstructions="temps.au1 = 1")
                activity
                    .row.w100.mb-auto.relativeImg
                        img(src="i/bg.png").w100
                        
                        .presenterDialog
                            template(v-if="temps.au1==1")
                                dialogaudio(:autoplay="true" audio="s/l1.mp3" show-on-play key="d1" @completed="changeVal(2)")
                                    img(src="i/l1.png")
                                    //buendia
                            template(v-else-if="temps.au1==2")
                                dialogaudio(:autoplay="true" audio="s/l2.mp3" show-on-play key="d2" @completed="temps.displaydrops=true")
                                    img(src="i/l2.png")
                                    //porfavor
                            template(v-else-if="temps.au1==3")
                                dialogaudio(:autoplay="true" audio="s/l3.mp3" show-on-play key="d3" @completed="temps.displaydrops=true")
                                    img(src="i/l3.png")
                                    //queinteresante 
                            template(v-else-if="temps.au1==4")
                                dialogaudio(:autoplay="true" audio="s/l4.mp3" show-on-play key="d4" @completed="temps.displaydrops=true")
                                    img(src="i/l4.png")
                            template(v-else-if="temps.au1==5")
                                dialogaudio(:autoplay="true" audio="s/l5.mp3" show-on-play key="d5" @completed="temps.displaydrops=true")
                                    img(src="i/l5.png")

                        .guestDialog(v-if="temps.displaydrops")
                            template(v-if="temps.au1==2")
                                .drop(:data="2" droptimes="untilok" key="l1")
                            template(v-else-if="temps.au1==3")
                                .drop(:data="3" droptimes="untilok" key="l2")
                            template(v-else-if="temps.au1==4")
                                .drop(:data="4" droptimes="untilok" key="l3")
                            template(v-else-if="temps.au1==5")
                                .drop(:data="5" droptimes="untilok" key="l4")

                    .row.w100.mb-auto.indragarea
                        drag(:data="3" dropzone=".drop" stay-if-ok append-to-dropzone @isoksoundcompleted="changeVal(4)" isoksound="s/d2.mp3"): img(src="i/d2.png").w100
                        drag(:data="4" dropzone=".drop" stay-if-ok append-to-dropzone @isoksoundcompleted="changeVal(5)" isoksound="s/d3.mp3"): img(src="i/d3.png").w100.mt-auto
                        drag(:data="5" dropzone=".drop" stay-if-ok append-to-dropzone isoksound="s/d4.mp3"): img(src="i/d4.png").w100.mt-auto
                        drag(:data="2" dropzone=".drop" stay-if-ok append-to-dropzone @isoksoundcompleted="changeVal(3)" isoksound="s/d1.mp3"): img(src="i/d1.png").w100

            
            // END
            scene(v-if="currentScene==2" :key="2" end-scene :final-data="finalData")
        
        +scripts
            script.

                app.$devmode = false
                app.$set(app.temps, 'au1', 0)
                app.$set(app.temps, 'displaydrops', false)

                app.changeVal = function (val){
                    app.temps.au1 = val
                    app.$set(app.temps, 'au1', val)
                    app.$set(app.temps, 'displaydrops', false)
                }
                
                app.currentScene = 0
                app.scenesCount = 1