include ../../assets/pug/_head
include ../../assets/pug/_scripts

- title = 'Conozco el correo electrónico'

<!DOCTYPE html>
html(lang="es")
    +head
        style.
            .drop {
                min-height: 60px;
                background: #fff;
                margin: 4px;
                border-radius: 6px;
                position: relative;
                display: flex;
                justify-content: center;
                align-items: center;
                color: #fff;
                font-size: 0.8rem;
                padding: 6px;
                box-sizing: border-box;
                min-width: 120px;
            }
            .drop .number {
                position: absolute;
                left: 0;
                top: 0;
                bottom: 0;
                right: 0;
                display: flex;
                justify-content: center;
                align-items: center;
            }
            .drop.okdrop {
                background: #1595FF;
                box-shadow: 4px 4px 0 #1457CF;
            }
            .drop.okdrop .number {
                left: unset;
                bottom: unset;
                background: #fff;
                width: 20px;
                height: 20px;
                border-radius: 50%;
                top: -5px;
                right: -5px;
                font-size: 0.6rem !important;
                text-shadow: none;
            }
            .drag {
                width: auto;
                height: auto;
                margin: 6px;
                max-width: 30%;
            }
            .drag div {
                background: #fff;
                padding: 4px;
                border-radius: 6px;
                box-shadow: 4px 4px 0 rgba(0, 0, 0, 0.1);
            }
            @media (max-width: 680px) {
                .drag div {
                    font-size: 0.6rem;
                }
            }
            .drop:not(.okdrop){
                border: 2px dashed #f5f5f5;
            }
            .sc_2 .dropss {
                align-items: unset;
            }
            .sc_2 .drop {
                height: 100%;
                flex-direction: column;
            }
            .sc_2 .drop div {
                background: #fff;
                color: #1457CF;
                padding: 6px;
                border-radius: 6px;
                margin: 4px;
            }
            .email .head {
                background: #454948;
                color: #fff;
                text-align: center;
            }
            @media (max-width: 680px) {
                .email .head {
                    font-size: 0.6rem;
                }
            }
            .email .body {
                padding: 2px 10px;
                background: #fff;
                box-sizing: border-box;
                justify-content: flex-start;
            }
            .email .body .tag {
                background: #f0f0f0;
                color: #444;
                padding: 2px 4px;
                font-size: 0.8rem;
                margin-right: 6px;
                border-radius: 4px;
            }
            @media (max-width: 680px) {
                .email .body .tag {
                    font-size: 0.5rem;
                }
            }
            .email .body .txt {
                font-size: 0.9rem;
            }
            @media (max-width: 680px) {
                .email .body .txt {
                    font-size: 0.6rem;
                }
            }
            .email .body .drp {
                margin-left: auto;
            }
            .email .body .drp .drop {
                background: #F1E7E1;
                width: 100%;
                min-height: 30px;
            }
            @media (max-width: 680px) {
                .email .body .drp .drop {
                    min-height: 20px;
                    padding: 2px;
                    border-radius: 2px;
                }
            }
            .email .body .drp .drop.okdrop {
                background: #83C786;
                font-size: 0.7rem;
                box-shadow: 3px 3px 0 #C5E5C5;
            }
            @media (max-width: 680px) {
                .email .body .drp .drop.okdrop {
                    font-size: 0.4rem;
                }
            }



    body
        #app
            // START
            scene(v-if="currentScene==0" :key="0" start-scene @completed="sceneCompleted")

            // SCENES
            scene(v-if="currentScene==1" :key="1" :score="scoreInScene" :temporals="temporals" alloks alloks-sound="../../assets/asound/bienhecho_mujer.mp3" @completed="sceneCompleted" :devmode="$devmode" :answers="6" scene-color="#ED1C25")
                info(type="dragdrop" title=title text="El correo electrónico es una forma de comunicación casi diaria hoy en día, tanto en el entorno escolar como de trabajo." textaudio="s/intro.mp3" :autoplay="true" @completedinstructions="temps.au1 = true")
                    audiotext(v-if="temps.au1" :autoplay="true" audio="s/instruccion1.mp3" text="Ordena los pasos para crear una cuenta de correo electrónico, colócalos en las cajas numeradas.")
                activity
                    .row.w100
                        .w20.animate__animated.animate__bounce: img(src="i/a1.png").w100
                    .row.w100.wrap
                        template(v-for="(i, index) in 6")
                            .drop.w30(:data="i" droptimes="untilok"): number(c=1 smaller) {{i}}
                    .row.w100.wrap.mt-1
                        template(v-for="(i, index) in temps.a")
                            drag(:data="i.n" dropzone=".drop" stay-if-ok append-to-dropzone dropzone-ok-class="okdrop"): div {{i.t}}
            
            // SCENES
            scene(v-if="currentScene==2" :key="2" :score="scoreInScene" :temporals="temporals" alloks alloks-sound="../../assets/asound/bienhecho_mujer.mp3" @completed="sceneCompleted" :devmode="$devmode" :answers="5" scene-color="#ED1C25")
                info(type="dragdrop" title=title text="Coloca en la caja, las cinco recomendaciones para el momento de crear una cuenta de correo electrónico." textaudio="s/instruccion2.mp3" :autoplay="true")
                activity
                    .row.w100.dropss.wrap
                        .w30.ws60.animate__animated.animate__bounce: img(src="i/a2.png").w100
                        .w50.ws60: .drop(data="ok" droptimes="multiple")
                    .row.w100.wrap.mt-1
                        template(v-for="(i, index) in temps.b")
                            drag(:data="i.n" dropzone=".drop" stay-if-ok append-to-dropzone dropzone-ok-class="okdrop"): div {{i.t}}
            
            
            // SCENES
            scene(v-if="currentScene==3" :key="3" :score="scoreInScene" :temporals="temporals" alloks alloks-sound="../../assets/asound/bienhecho_mujer.mp3" @completed="sceneCompleted" :devmode="$devmode" :answers="5" scene-color="#ED1C25")
                info(type="dragdrop" title=title text=" Observa el mensaje de correo electrónico y coloca los elementos a los que corresponde cada parte de éste." textaudio="s/instruccion3.mp3" :autoplay="true")
                activity
                    .row.w100
                        .email.w80.ws100
                            .head.row.w100
                                .w20 &nbsp;
                                .w60 Mensaje nuevo
                                .w20: img(src="i/controls.png").w100
                            
                            .body.row.w100
                                .tag Para:
                                .txt bsalgado2020@mail.net
                                .drp: .drop(:data="1" droptimes="untilok")
                            
                            .body.row.w100
                                .tag De:
                                .txt director@mail.net
                                .drp: .drop(:data="2" droptimes="untilok")
                            
                            .body.row.w100
                                .tag Asunto:
                                .txt Petición de beca
                                .drp: .drop(:data="3" droptimes="untilok")
                            
                            .body.row.w100
                                .txt
                                    | Estimado director del Colegio Montenegro, le escribo esta carta para pedirle que me considere para concursar por la beca de desempeño que ofrece el colegio. He tenido buenas calificaciones en el último año escolar.
                                    br
                                    | Espero su pronta respuesta por este medio y le agradezco el tiempo que se ha tomado para leer este correo.
                                    br
                                    | Saludos.
                                .drp: .drop(:data="4" droptimes="untilok")
                            
                            .body.row.w100
                                .txt
                                    | José Vázquez
                                    br
                                    | Alumno de 6o grado
                                .drp: .drop(:data="5" droptimes="untilok")
                    
                    .row.w100.wrap.mt-1
                        template(v-for="(i, index) in temps.c")
                            drag(:data="i.n" dropzone=".drop" stay-if-ok append-to-dropzone dropzone-ok-class="okdrop"): div {{i.t}}
            
            

                    
            // END
            scene(v-if="currentScene==4" :key="4" end-scene :final-data="finalData")
        
        +scripts
            script.

                app.$devmode = false
                app.$set(app.temps, 'au1', false)
                
                app.$set(app.temps, 'a', [
                    {n: 4, t: 'Llenar el formulario con datos personales.'},
                    {n: 8, t: 'Descargar el programa de correo.'},
                    {n: 3, t: 'Ir a Crear cuenta/Registrar usuario.'},
                    {n: 6, t: 'Elegir contraseña.'},
                    {n: 2, t: 'Entrar a la plataforma de servicio de correo electrónico.'},
                    {n: 5, t: 'Elegir dirección de correo.'},
                    {n: 1, t: 'Ir a Internet.'},
                    {n: 7, t: 'Escribir el domicilio.'},
                ])
                app.$set(app.temps, 'b', [
                    {n: 'no', t: 'Elegir una dirección de correo de 30 caracteres.'},
                    {n: 'ok', t: 'Elegir una dirección de correo sencilla y seria.'},
                    {n: 'ok', t: 'Elegir una contraseña sencilla de recordar pero segura.'},
                    {n: 'ok', t: 'Usar mayúsculas, minúsculas, números y símbolos en la contraseña.'},
                    {n: 'no', t: 'Pagar con tarjeta de crédito.'},
                    {n: 'ok', t: 'Registrar una cuenta de correo alterna en caso de problemas con la que se generó.'},
                    {n: 'no', t: 'Elegir la fecha de nacimiento como contraseña.'},
                    {n: 'ok', t: 'Evitar colocar la fecha de nacimiento en la dirección de correo.'},
                ])
                
                app.$set(app.temps, 'c', [
                    {n: 1, t: 'Dirección de correo electrónico de remitente.'},
                    {n: 2, t: 'Dirección  de correo electrónico de destinatario.'},
                    {n: 3, t: 'Enunciado de lo que trata el mensaje.'},
                    {n: 4, t: 'Mensaje.'},
                    {n: 5, t: 'Despedida.'},
                    {n: 6, t: 'Firma.'},
                    {n: 7, t: 'Sello digital.'},
                    {n: 8, t: 'Edad del destinatario.'},
                ])
                app.currentScene = 0
                app.scenesCount = 3