include ../../assets/pug/_head
include ../../assets/pug/_scripts

- title = 'Explico los eclipses '

<!DOCTYPE html>
html(lang="es")
    +head
        style.
            .options {
                background: #fff;
                border-radius: 10px;
                min-height: 60px;
            }
            .options .drag {
                width: auto;
                height: auto;
                margin: 6px;
                text-align: center;
            }
            .options .drag div {
                background: #f5f5f5;
                font-size: 0.9rem;
                padding: 2px 6px;
                border-radius: 6px;
                box-shadow: 4px 4px 0 rgba(0, 0, 0, 0.1);
            }
            .options .drag img {
                max-width: 40px;
            }
            .sun {
                position: relative;
            }
            .sun img {
                position: relative;
                z-index: 1;
            }
            .sun .sombra {
                width: 0;
                height: 40px;
                border-top: 80px solid transparent;
                border-bottom: 80px solid transparent;
                border-left: 180px solid #E8C24F;
                opacity: 0.6;
                position: absolute;
                right: -20%;
                top: 50%;
                z-index: 0;
                margin-top: -100px;
            }
            @media (max-width: 680px) {
                .sun .sombra {
                    border-top: 40px solid transparent;
                    border-bottom: 40px solid transparent;
                    border-left: 100px solid #E8C24F;
                    margin-top: -60px;
                }
                .options .drag{
                    margin: 4px;
                    max-width: 45px;
                    font-size: 0.5rem;
                    line-height: 1;
                }
                .options .drag div{
                    font-size: 0.5rem;
                    padding: 2px;
                    box-shadow: 2px 2px 0 rgba(0, 0, 0, 0.1);
                    border-radius: 4px;
                }
                .drop{
                    font-size: 0.6rem;
                }
            }
            @media (max-width: 420px) {
                .sun .sombra {
                    border-left: 80px solid #E8C24F;
                }
            }
            .diagrama {
                position: relative;
            }
            .sun,
            .a1,
            .a2,
            .a3 {
                position: relative;
                min-height: 200px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
            }
            .drop {
                display: flex;
                justify-content: center;
                align-items: center;
            }
            .drop img {
                position: relative;
                z-index: 1;
            }
            .drop.astro {
                border: 2px dashed #666;
                border-radius: 50%;
                width: 100px;
                height: 100px;
                display: flex;
                justify-content: center;
                align-items: center;
            }
            @media (max-width: 680px) {
                .drop.astro {
                    width: 60px;
                    height: 60px;
                }
            }
            @media (max-width: 420px) {
                .drop.astro {
                    width: 40px;
                    height: 40px;
                }
            }
            .drop.tag {
                background: #fff;
                height: 40px;
                border-radius: 6px;
                border: 2px dashed #666;
            }
            .diagrama .drop.tag {
                position: absolute;
                bottom: -20px;
                left: 5%;
                width: 90%;
                z-index: 2;
            }
            .sombra2.equal {
                height: 70px;
                width: 200%;
                background: #000;
                opacity: 0.2;
                margin: 0 -50%;
            }
            @media (max-width: 680px) {
                .sombra2.equal {
                    height: 40px;
                }
            }
            .sombra2.masque {
                width: 0;
                height: 30px;
                border-top: 40px solid transparent;
                border-bottom: 40px solid transparent;
                border-left: 280px solid #000;
                opacity: 0.2;
                position: absolute;
                right: -50%;
                top: 50%;
                z-index: 0;
                margin-top: -55px;
            }
            @media (max-width: 680px) {
                .sombra2.masque {
                    border-top: 20px solid transparent;
                    border-bottom: 20px solid transparent;
                    border-left: 150px solid #000;
                    margin-top: -35px;
                }
            }
            @media (max-width: 420px) {
                .sombra2.masque {
                    border-left: 100px solid #000;
                }
            }

            .text {
                background: var(--accent);
                border-radius: 10px;
                min-height: 40px;
                margin: 10px 0;
            }
            .text .drop2 {
                height: 20px;
                min-width: 80px;
                background: #fff;
                margin: 4px 1px;
                border-radius: 4px;
                border: 2px dashed #ccc;
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 1px 4px;
            }
            @media (max-width: 680px) {
                .text .drop2 {
                    font-size: 0.6rem;
                }
            }



    body
        #app
            // START
            scene(v-if="currentScene==0" :key="0" start-scene @completed="sceneCompleted")

            // SCENES
            scene(v-if="currentScene==1" :key="1" :score="scoreInScene" :temporals="temporals" alloks alloks-sound="../../assets/asound/bienhecho_mujer.mp3" @completed="sceneCompleted" :devmode="$devmode" :answers="7" scene-color="#ED1C25")
                info(type="seleccionar" title=title text="Coloca los elementos en el esquema para representar cada eclipse." textaudio="s/instruccion1.mp3" :autoplay="true")
                activity
                    .row.w100
                        .w100.drop(data="title" droptimes="untilok").tag
                    .row.w100.diagrama
                        .sun.w40.text-center
                            img(src="i/sol.png").w80
                            .sombra
                            .drop(data="tsol" droptimes="untilok").tag
                        .a1.w30.text-center
                            .drop(data="astro1" droptimes="untilok").astro
                            .drop(data="ttierra" droptimes="untilok").tag
                        .a2.w20.text-center
                            .sombra2.equal
                            .drop(data="tsombra" droptimes="untilok").tag
                        .a3.w30.text-center
                            .drop(data="astro2" droptimes="untilok").astro
                            .drop(data="tluna" droptimes="untilok").tag
                    
                    .row.w100.options.mt-1.wrap
                        drag(data="tluna" dropzone=".drop" stay-if-ok append-to-dropzone): div Luna
                        drag(data="tsombra" dropzone=".drop" stay-if-ok append-to-dropzone): div Sombra terrestre
                        drag(data="ttierra" dropzone=".drop" stay-if-ok append-to-dropzone): div Tierra
                        drag(data="tsol" dropzone=".drop" stay-if-ok append-to-dropzone): div Sol
                        drag(data="no" dropzone=".drop" stay-if-ok append-to-dropzone): div Eclipse de Sol
                        drag(data="title" dropzone=".drop" stay-if-ok append-to-dropzone): div Eclipse de Luna
                        drag(data="astro2" dropzone=".drop" stay-if-ok append-to-dropzone): img(src="i/luna.png").w50
                        drag(data="astro1" dropzone=".drop" stay-if-ok append-to-dropzone): img(src="i/tierra.png").w80
            
            
            // SCENES 2
            scene(v-if="currentScene==2" :key="2" :score="scoreInScene" :temporals="temporals" alloks alloks-sound="../../assets/asound/bienhecho_mujer.mp3" @completed="sceneCompleted" :devmode="$devmode" :answers="7" scene-color="#ED1C25")
                info(type="seleccionar" title=title text="Coloca los elementos en el esquema para representar cada eclipse." textaudio="s/instruccion1.mp3" :autoplay="false")
                activity
                    .row.w100
                        .w100.drop(data="title" droptimes="untilok").tag
                    .row.w100.diagrama
                        .sun.w40.text-center
                            img(src="i/sol.png").w80
                            .sombra
                            .drop(data="tsol" droptimes="untilok").tag
                        .a1.w30.text-center
                            .drop(data="astro1" droptimes="untilok").astro
                            .drop(data="tluna" droptimes="untilok").tag
                        .a2.w20.text-center
                            .sombra2.masque
                            .drop(data="tsombra" droptimes="untilok").tag
                        .a3.w30.text-center
                            .drop(data="astro2" droptimes="untilok").astro
                            .drop(data="ttierra" droptimes="untilok").tag
                    
                    .row.w100.options.mt-1.wrap
                        drag(data="no" dropzone=".drop" stay-if-ok append-to-dropzone): div Eclipse de Luna
                        drag(data="title" dropzone=".drop" stay-if-ok append-to-dropzone): div Eclipse de Sol
                        drag(data="tluna" dropzone=".drop" stay-if-ok append-to-dropzone): div Luna
                        drag(data="tsol" dropzone=".drop" stay-if-ok append-to-dropzone): div Sol
                        drag(data="ttierra" dropzone=".drop" stay-if-ok append-to-dropzone): div Tierra
                        drag(data="tsombra" dropzone=".drop" stay-if-ok append-to-dropzone): div Sombra lunar
                        drag(data="astro2" dropzone=".drop" stay-if-ok append-to-dropzone): img(src="i/tierra.png").w80
                        drag(data="astro1" dropzone=".drop" stay-if-ok append-to-dropzone): img(src="i/luna.png").w50
            
            
            // SCENES 3
            scene(v-if="currentScene==3" :key="3" :score="scoreInScene" :temporals="temporals" alloks alloks-sound="../../assets/asound/bienhecho_mujer.mp3" @completed="sceneCompleted" :devmode="$devmode" :answers="7" scene-color="#ED1C25")
                info(type="seleccionar" title=title text="Coloca en orden los fragmentos del texto de la descripción de cada eclipse." textaudio="s/instruccion2.mp3" :autoplay="true")
                activity
                    .row.w100
                        .w100.drop(data="title" droptimes="untilok").tag: div Eclipse de Luna
                    .row.w100.diagrama
                        .sun.w40.text-center
                            img(src="i/sol.png").w80
                            .sombra
                        .a1.w30.text-center
                            .drop(data="astro1" droptimes="untilok").astro: img(src="i/tierra.png").w80
                        .a2.w20.text-center
                            .sombra2.equal
                        .a3.w30.text-center
                            .drop(data="astro2" droptimes="untilok").astro: img(src="i/luna.png").w50
                    

                    .row.w100.text.wrap
                        template(v-for="(i, index) in temps.aok")
                            .drop2(:data="i" droptimes="untilok")
                    .row.w100.options.wrap
                        template(v-for="(i, index) in temps.a")
                            drag(:data="i" dropzone=".drop2" stay-if-ok append-to-dropzone): div {{i}}
            
            // SCENES 4
            scene(v-if="currentScene==4" :key="4" :score="scoreInScene" :temporals="temporals" alloks alloks-sound="../../assets/asound/bienhecho_mujer.mp3" @completed="sceneCompleted" :devmode="$devmode" :answers="6" scene-color="#ED1C25")
                info(type="seleccionar" title=title text="Coloca en orden los fragmentos del texto de la descripción de cada eclipse." textaudio="s/instruccion2.mp3" :autoplay="false")
                activity
                    .row.w100
                        .w100.drop(data="title" droptimes="untilok").tag: div Eclipse de Sol
                    .row.w100.diagrama
                        .sun.w40.text-center
                            img(src="i/sol.png").w80
                            .sombra
                        .a1.w30.text-center
                            .drop(data="astro2" droptimes="untilok").astro: img(src="i/luna.png").w50
                        .a2.w20.text-center
                            .sombra2.masque
                        .a3.w30.text-center
                            .drop(data="astro1" droptimes="untilok").astro: img(src="i/tierra.png").w80
                    

                    .row.w100.text.wrap
                        template(v-for="(i, index) in temps.bok")
                            .drop2(:data="i" droptimes="untilok")
                    .row.w100.options.wrap
                        template(v-for="(i, index) in temps.b")
                            drag(:data="i" dropzone=".drop2" stay-if-ok append-to-dropzone): div {{i}}
                        
            
            // END
            scene(v-if="currentScene==5" :key="5" end-scene :final-data="finalData")
        
        +scripts
            script.

                app.$devmode = false
                app.$set(app.temps, 'a', [
                    'no reciba los rayos del Sol.','interpone entre','Tierra se','El eclipse de Luna','el Sol y la Luna,','provocando que la Luna','sucede cuando la'
                ])

                app.$set(app.temps, 'aok', [
                    'El eclipse de Luna','sucede cuando la','Tierra se','interpone entre','el Sol y la Luna,','provocando que la Luna','no reciba los rayos del Sol.'
                ])
                
                
                app.$set(app.temps, 'b', [
                    'una sombra.',
                    'Luna se interpone',
                    'El eclipse de Sol',
                    'entre el Sol y la Tierra,',
                    'es decir, se forma',
                    'ocurre cuando la',
                ])

                app.$set(app.temps, 'bok', [
                    'El eclipse de Sol',
                    'ocurre cuando la',
                    'Luna se interpone',
                    'entre el Sol y la Tierra,',
                    'es decir, se forma',
                    'una sombra.'
                ])
                


                app.currentScene = 3
                app.scenesCount = 4